<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XREGYE6J4S"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-XREGYE6J4S');
    </script>
    <!-- Basic page needs
    ============================================ -->
    <title>Web Shoes Shop</title>
    <meta charset="utf-8">
    @await RenderSectionAsync("metatags", required: false)

    <meta name="facebook-domain-verification" content="pyt6n1rlnvqm5gzuw9ke4uvxsbs5ms" />
    <script id="mcjs">!function (c, h, i, m, p) { m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p) }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/f1b314d9dac800f1413178449/6d05734087f0c49a6bda81be8.js");</script>
    <meta property="fb:app_id" content="3962818990610291" />
    <!-- Mobile specific metas
    ============================================ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Favicon
    ============================================ -->

    <link rel="shortcut icon" href="~/assets/ico/favicon.png">

    <!-- Google web fonts
    ============================================ -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <!-- Libs CSS
    ============================================ -->
    <link rel="stylesheet" href="~/assets/css/bootstrap/css/bootstrap.min.css">
    <link href="~/assets/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/assets/js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="~/assets/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="~/assets/css/themecss/lib.css" rel="stylesheet">
    <link href="~/assets/js/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <!-- Theme CSS
    ============================================ -->
    <link href="~/assets/css/themecss/so_megamenu.css" rel="stylesheet">
    <link href="~/assets/css/themecss/so-categories.css" rel="stylesheet">
    <link href="~/assets/css/themecss/so-listing-tabs.css" rel="stylesheet">
    <link href="~/assets/css/themecss/so-newletter-popup.css" rel="stylesheet">
    <link href="~/assets/css/themecss/just_purchased_notification.css" rel=stylesheet>
    <link href="~/assets/css/footer1.css" rel="stylesheet">
    <link href="~/assets/css/header1.css" rel="stylesheet">
    <link id="color_scheme" href="~/assets/css/theme.css" rel="stylesheet">
    <link href="~/assets/css/responsive.css" rel="stylesheet">
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=62dd24b1e0f8f90019cf2f62&product=inline-share-buttons" async="async"></script>

    <!-- GetResponse Analytics -->
      <script type="text/javascript">
      
      (function(m, o, n, t, e, r, _){
              m['__GetResponseAnalyticsObject'] = e;m[e] = m[e] || function() {(m[e].q = m[e].q || []).push(arguments)};
              r = o.createElement(n);_ = o.getElementsByTagName(n)[0];r.async = 1;r.src = t;r.setAttribute('crossorigin', 'use-credentials');_.parentNode .insertBefore(r, _);
          })(window, document, 'script', 'https://ga.getresponse.com/script/bbb4b430-845e-4e10-97e9-e6286d1b0692/ga.js', 'GrTracking');


      </script>
      <!-- End GetResponse Analytics -->

    @await RenderSectionAsync("Styles", required: false)

    <meta name="google-site-verification" content="jQRM5ZlPiePyY1vzEziAY7RnmhkdnaZ0ZbYKwyb3Xr0" />
</head>


<body class="common-home res layout-home1">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v14.0&appId=3962818990610291&autoLogAppEvents=1" nonce="XaHULLve"></script>
    <script type="text/javascript">window.subiz('setWindowMode', 'full')</script>


    <div id="wrapper" class="wrapper-full banners-effect-7">
        <!-- Header Container  -->
        <header id="header" class=" variantleft type_1">
            @await Html.PartialAsync("_HeaderPartialView.cshtml")
        </header>
        <!-- //Header Container  -->
        <!-- Main Container  -->
        <div class="main-container container">
            @RenderBody()
        </div>
        <!-- //Main Container -->
        <!-- Block Spotlight3  -->
        <!-- //Block Spotlight3  -->
        <script type="text/javascript">
            var $typeheader = 'header-home1';
            //-->
        </script>

        <!-- Footer Container -->
        <footer class="footer-container type_footer1">
            @await Html.PartialAsync("_FooterPartialView.cshtml")
        </footer>
        <!-- //end Footer Container -->

    </div>
    <!-- End Social widgets -->
    <!-- Include Libs & Plugins
    ============================================ -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="~/assets/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/js/owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="~/assets/js/themejs/libs.js"></script>
    <script type="text/javascript" src="~/assets/js/unveil/jquery.unveil.js"></script>
    <script type="text/javascript" src="~/assets/js/countdown/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="~/assets/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js"></script>
    <script type="text/javascript" src="~/assets/js/datetimepicker/moment.js"></script>
    <script type="text/javascript" src="~/assets/js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/assets/js/modernizr/modernizr-2.6.2.min.js"></script>
    @*<script type="text/javascript" src="~/assets/js/bootstrap-notify.min.js"></script>*@
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[4] = 'PHONE'; ftypes[4] = 'phone'; fnames[5] = 'BIRTHDAY'; ftypes[5] = 'birthday'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
    <!-- Theme files
    ============================================ -->
    <script type="text/javascript" src="~/assets/js/themejs/toppanel.js"></script>
    <script type="text/javascript" src="~/assets/js/themejs/application.js"></script>
    <script type="text/javascript" src="~/assets/js/themejs/homepage.js"></script>
    <script type="text/javascript" src="~/assets/js/themejs/so_megamenu.js"></script>
    <script type="text/javascript" src="~/assets/js/themejs/addtocart.js"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v14.0&appId=3962818990610291&autoLogAppEvents=1" nonce="VXqQH2xh"></script>
    <script>!function(s,u,b,i,z){var o,t,r,y;s[i]||(s._sbzaccid=z,s[i]=function(){s[i].q.push(arguments)},s[i].q=[],s[i]("setAccount",z),r=["widget.subiz.net","storage.googleapis"+(t=".com"),"app.sbz.workers.dev",i+"a"+(o=function(k,t){var n=t<=6?5:o(k,t-1)+o(k,t-3);return k!==t?n:n.toString(32)})(20,20)+t,i+"b"+o(30,30)+t,i+"c"+o(40,40)+t],(y=function(k){var t,n;s._subiz_init_2094850928430||r[k]&&(t=u.createElement(b),n=u.getElementsByTagName(b)[0],t.async=1,t.src="https://"+r[k]+"/sbz/app.js?accid="+z,n.parentNode.insertBefore(t,n),setTimeout(y,2e3,k+1))})(0))}(window,document,"script","subiz", "acrmpmjucyacqmivcasx")</script>

    <!-- Messenger Plugin chat Code -->
    <div id="fb-root"></div>
    <!-- Your Plugin chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "107604552170534");
        chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v15.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</body>
</html>
