
@{
    ViewData["Title"] = "ConfirmPaymentClient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xl-6 col-lg-7 align-self-center">
    <div class="about-banner-content">
        <div class="section-title">
            <h2 class="sub-title">Cảm ơn bạn đã đặt hàng</h2>
            <strong>Bạn đã thanh toán đơn hàng theo hình thức MoMo thành công<strong>
        </div>
    </div>
</div>


