
@{
    ViewData["Title"] = "Về chúng tôi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {

    <style type="text/css">
        .bg-image {
            background-image: url('@Url.Content("~/assets/images/breadcrumb/bg.jpg")');
            background-size: cover;
            height: 600px;
        }
    </style>
}
@section metatags{
    <meta name="keywords" content="nike, football, running, shoes, giày, chạy, đá bóng, thể thao, mới nhất, giá rẻ, sales" />
    <meta name="author" content="Magentech">
    <meta name="robots" content="index, follow" />
    <meta name="description" content="Cửa hàng giày đá banh chính hãng Nike, adidas, Puma, Mizuno, Joma, v.v. dành cho sân futsal và sân cỏ nhân tạo. Cam kết hàng chính hãng 100%. Là hệ thống bán lẻ giày đá banh chính hãng .">
    <meta name="keywords" content="nike, football, running, shoes, giày, chạy, đá bóng, thể thao, mới nhất, giá rẻ, sales" />
    <meta property="og:site_name" content="Giày đá banh chính hãng" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Thông tin shop" />
    <meta property="og:image" content="https://c8.alamy.com/comp/2ETMK97/puma-football-boots-store-shop-display-with-images-of-sponsored-footballers-neymar-and-antoine-griezmann-2ETMK97.jpg" />
    <meta property="og:description" content="Cửa hàng giày đá banh chính hãng Nike, adidas, Puma, Mizuno, Joma, v.v. dành cho sân futsal và sân cỏ nhân tạo. Cam kết hàng chính hãng 100%. Là hệ thống bán lẻ giày đá banh chính hãng " />
    <meta property="og:url" content="http://kvandijk04-001-site1.dtempurl.com/" />
}
<!-- Main Container  -->
<div class="main-container container">
    <ul class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i></a></li>
        <li><a href="/about.html">Cửa hàng</a></li>
    </ul>

    <div class="row">
        <div id="content" class="col-sm-12">

            <div class="about-us about-demo-2">
                <div class="row">
                    <div class="col-lg-12 col-md-12 about-us-center">
                        <div class="about-image-slider">
                            <div id="ytcs579c0714641b9213691469843220" class="yt-content-slider owl-theme yt-content-slider-style-1 arrow-default owl2-carousel owl2-theme owl2-loaded" data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="" data-item_lg="1" data-item_sm="1" data-item_xs="1" data-arrows="yes" data-pagination="no" data-lazyload="yes" data-loop="no" data-hoverpause="no">
                                <div class="yt-content-slide yt-clearfix yt-content-wrap"> <img src="~/assets/about10.webp" alt="About Us"> </div>
                                <div class="yt-content-slide yt-clearfix yt-content-wrap"> <img src="~/assets/about9.webp" alt="About Us"> </div>
                                <div class="yt-content-slide yt-clearfix yt-content-wrap"> <img src="~/assets/about8.webp" alt="About Us"> </div>
                                <div class="yt-content-slide yt-clearfix yt-content-wrap"> <img src="~/assets/about7.webp" alt="About Us"> </div>
                                <div class="yt-content-slide yt-clearfix yt-content-wrap"> <img src="~/assets/about6.webp" alt="About Us"> </div>
                                <div class="yt-content-slide yt-clearfix yt-content-wrap"> <img src="~/assets/about5.webp" alt="About Us"> </div>
                                <div class="yt-content-slide yt-clearfix yt-content-wrap"> <img src="~/assets/about4.webp" alt="About Us"> </div>
                                <div class="yt-content-slide yt-clearfix yt-content-wrap"> <img src="~/assets/about3.webp" alt="About Us"> </div>
                                <div class="yt-content-slide yt-clearfix yt-content-wrap"> <img src="~/assets/about2.webp" alt="About Us"> </div>

                            </div>

                        </div>
                        <div class="content-description">
                            <h2 class="about-title">Cửa hàng</h2>
                            <p>
                                Được ra đời từ năm 2013 với định hướng trở thành một trong những cửa hàng cung cấp các sản phẩm giày đá bóng chính hãng tốt nhất Việt Nam. Thanh Hùng Futsal đã và đang nỗ lực nhằm đem lại cho khách hàng những trải nghiệm tốt nhất về chất lượng dịch vụ, cũng như đưa ra những tư vấn tận tâm để khách hàng có thể chọn lựa được cho mình những đôi giày đá banh phù hợp nhất, ưng ý nhất khi mang ra sân.

                            </p>
                            <p>
                                Uy tín của ThanhHung Futsal trong những năm qua được xây dựng bằng chính sự ủng hộ của các khách hàng trên khắp đất nước Việt Nam và bạn bè quốc tế.</br>

                                1. TẦM NHÌN</br>

                                Tại ThanhHung Futsal, chúng tôi luôn hướng đến việc cải tiến chất lượng trải nghiệm của khách hàng thông qua việc đa dạng hóa các loại sản phẩm, đầu tư nghiên cứu để đưa ra những tư vấn phù hợp với từng khách hàng một. Và với định hướng trở thành một trong những cửa hàng cung cấp các sản phẩm giày đá bóng chính hãng tốt nhất Việt Nam, ThanhHung Futsal luôn hướng đến những giá trị cốt lõi cho khách hàng bao gồm:</br>

                                Trải nghiệm hoàn hảo: Thông qua việc tư vấn, hỗ trợ khách hàng tận tâm và nhanh nhất có thể.</br>

                                Sản phẩm chính hãng: Sản phẩm được ThanhHung Futsal mua trực tiếp từ công ty và các trang web uy tín của Nike, adidas, Puma v.v… nên các bạn có thể yên tâm về nguồn gốc sản phẩm.</br>

                                Chế độ dịch vụ: Những sản phẩm giày đá banh tại ThanhHung Futsal được bảo hành 3 tháng, hỗ trợ trả góp 0% lãi suất qua Fundiin, Freeship toàn quốc khi khách hàng thanh toán chuyển khoản trước, tặng vớ & balo khi mua giày.</br>
                            </p>
                            <p>Các sản phẩm giày đá banh có thiết kế đế đặt trưng cho bề mặt sân cỏ nhân tạo (đê TF), đến từ các thương hiệu nổi tiếng như Nike, adidas, Puma, Mizuno, Desporte, Kamito, Grand Sport.</p>
                            <p>Các sản phẩm giày đá banh có thiết kế đế đặt trưng cho bề mặt sân futsal (đế IC), đến từ các thương hiệu nổi tiếng như Nike, adidas, Mizuno, Desporte, X-Munich, Athleta, Kamito.</p>
                        </div>
                        <img src="~/assets/about11.webp" />
                        <img src="~/assets/about12.webp" />

                    </div>
                </div>
                @*<div class="row">
                        <div class="col-lg-12 col-md-12 our-team">
                            <div class="our-team-content">
                                <div class="our-team-slider">
                                    <div id="ytcs579c07146430563341469843220" class="yt-content-slider owl-theme yt-content-slider-style-1 arrow-default owl2-carousel owl2-theme owl2-loaded" data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="30" data-item_lg="4" data-item_sm="3" data-item_xs="1" data-arrows="yes" data-pagination="no" data-lazyload="yes" data-loop="no" data-hoverpause="no">
                                        <div class="yt-content-slide yt-clearfix yt-content-wrap">
                                            <div class="item">
                                                <div class="member">
                                                    <div class="member-image"> <img src="image/demo/about/ourmember01.png" alt="Image Client"> </div>
                                                    <div class="member-info">
                                                        <h3 class="name-member">Jennifer lawrence</h3>
                                                        <p class="job-member">Co Founder</p>
                                                        <p class="des-member">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer condimentum</p>
                                                        <ul class="social-member">
                                                            <li class="social-icon rss">
                                                                <a class="fa fa-rss" href="#" title="RSS"> <span>RSS</span> </a>
                                                            </li>
                                                            <li class="social-icon facebook">
                                                                <a class="fa fa-facebook" href="#" title="Facebook"> <span>Facebook</span> </a>
                                                            </li>
                                                            <li class="social-icon twitter">
                                                                <a class="fa fa-twitter" href="#" title="Twitter"> <span>Twitter</span> </a>
                                                            </li>
                                                            <li class="social-icon google">
                                                                <a class="fa fa-google" href="#" title="Google"> <span>Google</span> </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>*@
                @*<div class="row">
                        <div class="col-lg-12 col-md-12 client-logo">
                            <div class="client-logo-content">
                                <h2 class="about-title">Our Happy Clients</h2>
                                <div class="client-logo-slider">
                                    <div id="ytcs579c07146456674551469843220" class="yt-content-slider owl-theme yt-content-slider-style-1 arrow-default owl2-carousel owl2-theme owl2-loaded" data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="30" data-item_lg="4" data-item_sm="3" data-item_xs="1" data-arrows="yes" data-pagination="no" data-lazyload="yes" data-loop="no" data-hoverpause="no">
                                        <div class="yt-content-slide yt-clearfix yt-content-wrap">
                                            <div class="item">
                                                <a href="#" title="Client"> <img src="image/demo/about/about-client-1.png" alt="Client"> </a>
                                            </div>
                                        </div>
                                        <div class="yt-content-slide yt-clearfix yt-content-wrap">
                                            <div class="item">
                                                <a href="#" title="Client"> <img src="image/demo/about/about-client-2.png" alt="Client"> </a>
                                            </div>
                                        </div>
                                        <div class="yt-content-slide yt-clearfix yt-content-wrap">
                                            <div class="item">
                                                <a href="#" title="Client"> <img src="image/demo/about/about-client-3.png" alt="Client"> </a>
                                            </div>
                                        </div>
                                        <div class="yt-content-slide yt-clearfix yt-content-wrap">
                                            <div class="item">
                                                <a href="#" title="Client"> <img src="image/demo/about/about-client-4.png" alt="Client"> </a>
                                            </div>
                                        </div>
                                        <div class="yt-content-slide yt-clearfix yt-content-wrap">
                                            <div class="item">
                                                <a href="#" title="Client"> <img src="image/demo/about/about-client-5.png" alt="Client"> </a>
                                            </div>
                                        </div>
                                        <div class="yt-content-slide yt-clearfix yt-content-wrap">
                                            <div class="item">
                                                <a href="#" title="Client"> <img src="image/demo/about/about-client-6.png" alt="Client"> </a>
                                            </div>
                                        </div>
                                        <div class="yt-content-slide yt-clearfix yt-content-wrap">
                                            <div class="item">
                                                <a href="#" title="Client"> <img src="image/demo/about/about-client-1.png" alt="Client"> </a>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>*@
            </div>

        </div>
    </div>
</div>
<!-- //Main Container -->