
@{
    ViewData["Title"] = "Thông tin liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {

    <style type="text/css">
        .bg-image {
            background-image: url('@Url.Content("~/assets/images/breadcrumb/bg.jpg")');
            background-size: cover;
            height: 600px;
        }
    </style>
}
@section metatags{
    <meta name="keywords" content="nike, football, running, shoes, giày, chạy, đá bóng, thể thao, mới nhất, giá rẻ, sales" />
    <meta name="author" content="Magentech">
    <meta name="robots" content="index, follow" />
    <meta name="description" content="Cửa hàng giày đá banh chính hãng Nike, adidas, Puma, Mizuno, Joma, v.v. dành cho sân futsal và sân cỏ nhân tạo. Cam kết hàng chính hãng 100%. Là hệ thống bán lẻ giày đá banh chính hãng .">
    <meta name="keywords" content="nike, football, running, shoes, giày, chạy, đá bóng, thể thao, mới nhất, giá rẻ, sales" />
    <meta property="og:site_name" content="Giày đá banh chính hãng" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Liên hệ" />
    <meta property="og:image" content="https://c8.alamy.com/comp/2ETMK97/puma-football-boots-store-shop-display-with-images-of-sponsored-footballers-neymar-and-antoine-griezmann-2ETMK97.jpg" />
    <meta property="og:description" content="Cửa hàng giày đá banh chính hãng Nike, adidas, Puma, Mizuno, Joma, v.v. dành cho sân futsal và sân cỏ nhân tạo. Cam kết hàng chính hãng 100%. Là hệ thống bán lẻ giày đá banh chính hãng " />
    <meta property="og:url" content="http://kvandijk04-001-site1.dtempurl.com/" />
}
<!-- Main Container  -->
<div class="ontainer container">
    <ul class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i></a></li>
        <li><a href="/contact.html">Liên hệ</a></li>
    </ul>

    <div class="row">
        <div id="content" class="col-sm-12">
            <div class="page-title">
                <h2>Liên hệ</h2>
            </div>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6557510677967!2d106.68040551533424!3d10.760992062419666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1b8e6575c3%3A0x48d253bde1931e59!2zxJDhuqFpIGjhu41jIFPGsCBQaOG6oW0!5e0!3m2!1svi!2s!4v1658515606175!5m2!1svi!2s" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" frameborder="0" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div class="info-contact clearfix">
                <div class="col-lg-4 col-sm-4 col-xs-12 info-store">
                    <div class="row">
                        <div class="name-store">
                            <h3>Cửa hàng</h3>
                        </div>
                        <address>
                            <div class="address clearfix form-group">
                                <div class="icon">
                                    <i class="fa fa-home"></i>
                                </div>
                                <div class="text">280 An Dương Vương, P4, Q5, TPHCM</div>
                            </div>
                            <div class="phone form-group">
                                <div class="icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="text">Phone : 0902887922</div>
                            </div>
                            <img src="~/assets/contact-img.webp" />

                        </address>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-8 col-xs-12 contact-form">
                    @*<form asp-action="AddSubscribeUser" method="post" asp-controller="Home" class="form-horizontal">
                            <fieldset>
                                <legend>Liên hệ</legend>
                                <div class="form-group required">
                                    <label class="col-sm-2 control-label" for="input-name">Tên của bạn</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="name" value="" id="input-name" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="col-sm-2 control-label" for="input-email">E-Mail</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="email" value="" id="input-email" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="col-sm-2 control-label" for="input-enquiry">Nội dung</label>
                                    <div class="col-sm-10">
                                        <textarea name="enquiry" rows="10" id="input-enquiry" class="form-control"></textarea>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="buttons">
                                <div class="pull-right">
                                    <button class="btn btn-default buttonGray" type="submit">
                                        <span>Gửi</span>
                                    </button>
                                </div>
                            </div>
                        </form>*@
                    <div id="mc_embed_signup">
                        <form action="https://gmail.us13.list-manage.com/subscribe/post?u=f1b314d9dac800f1413178449&amp;id=de3d4bc655" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <h3> Thông tin liên lạc của bạn </h3>
                                <div class="indicates-required"><span class="asterisk">*</span>Thông tin bắt buộc</div>
                                <div class="mc-field-group">
                                    <label for="mce-EMAIL">
                                        Địa chỉ email  <span class="asterisk">*</span>
                                    </label>
                                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                </div>
                                <div class="mc-field-group">
                                    <label for="mce-FNAME">Họ </label>
                                    <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                                </div>
                                <div class="mc-field-group">
                                    <label for="mce-LNAME">Tên </label>
                                    <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                                </div>
                                <div class="mc-field-group size1of2">
                                    <label for="mce-PHONE">Số điện thoại </label>
                                    <input type="text" name="PHONE" class="" value="" id="mce-PHONE">
                                </div>
                                <div class="mc-field-group size1of2">
                                    <label for="mce-BIRTHDAY-month">Ngày sinh </label>
                                    <div class="datefield">
                                        <span class="subfield dayfield"><input class="birthday " type="text" pattern="[0-9]*" value="" placeholder="DD" size="2" maxlength="2" name="BIRTHDAY[day]" id="mce-BIRTHDAY-day"></span> /
                                        <span class="subfield monthfield"><input class="birthday " type="text" pattern="[0-9]*" value="" placeholder="MM" size="2" maxlength="2" name="BIRTHDAY[month]" id="mce-BIRTHDAY-month"></span>
                                        <span class="small-meta nowrap">( dd / mm )</span>
                                    </div>
                                </div>	<div id="mce-responses" class="clear foot">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f1b314d9dac800f1413178449_de3d4bc655" tabindex="-1" value=""></div>
                                <div class="optionalParent">
                                    <div class="clear foot">
                                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Main Container -->